.contactImage {
  width: 80%;
  margin-top: 150px;
  height: 400px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.contactButton {
  background-color: #0d284e;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  width: 90%;
  font-weight: 600;
  cursor: pointer;
  margin: 7px;
  margin-left: 0;
}
